@charset "utf-8";

/* CSS Document */
.button {
	vertical-align: central;
	background-color: #68AD0C;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}

.button:hover {
	background-color: #999;
}

.buttoni {
	vertical-align: central;
	background-color: #09C;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.buttoni:hover {
	background-color: #999;
}

.buttone {
	vertical-align: central;
	background-color: #3E4095;
	text-decoration: none;
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 12px;
	border-radius: 0px;
}

.buttone:hover {
	background-color: #999;
}

.buttonc {
	vertical-align: central;
	background-color: #FF9900;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.buttonc:hover {
	background-color: #999;
}

.buttond {
	vertical-align: central;
	background-color: #68AD0C;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.buttond:hover {
	background-color: #999;
}

.button-primary {
	vertical-align: central;
	background-color: #007BFF;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.button-secondary {
	vertical-align: central;
	background-color: #656D75;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.button-success {
	vertical-align: central;
	background-color: #26A042;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.button-danger {
	vertical-align: central;
	background-color: #D02A3A;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.button-warning {
	vertical-align: central;
	background-color: #FFC107;
	text-decoration: none;
	text-align: center;
	color: #343A40;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.button-info {
	vertical-align: central;
	background-color: #138496;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.button-light {
	vertical-align: central;
	background-color: #F8F9FA;
	text-decoration: none;
	text-align: center;
	color: #343A40;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}

.button-dark {
	vertical-align: central;
	background-color: #343A40;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	border: hidden;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px;
}


.button-primary:hover,
.button-secondary:hover,
.button-success:hover,
.button-danger:hover,
.button-warning:hover,
.button-info:hover,
.button-light:hover,
.button-dark:hover {
	background-color: #999;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 390px;
}

.btn {
	padding: 20px;
	border: none;
	border-radius: 10px;
	font-size: 22px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
	text-decoration: none;
}

.btn:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-green {
	background-color: #4CAF50;
	/* Verde manzana */
}

.btn-blue {
	background-color: #2196F3;
	/* Azul */
}

body {
	/**background-image:url(../assets\images\fondo.jpg); */
	background-color: #FFF;
	font-family: Arial;
}

.text {
	border-radius: 0px;
	text-align: center;
}

.table {
	font-family: "Arial Black";
}

#rotator {
	border: 0px solid #000000;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 1200px;
	height: 302px;
	/* width: 1350px;
	height: 340px; */
}

#rotator img {
	width: 1200px;
	height: 302px;
	border: 0;
	margin: 0;
	padding: 0;
}